<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Login Form</title>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="login">
	<h1>Back On Track Login</h1>
    <form method = 'GET' action = "/datalist">
    	<input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Sensor Address" required="required" />
        <button id="submit" type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>

</body>
</html>
